.contact-page-container {
    text-align: center;
  }
  
  .get-in-touch-heading {
    margin-bottom: 20px;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .contact-info, .contact-form {
    width: 45%;
    text-align: left; 
  }
  
  .contact-info h2, .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
  }
  
  .contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  