.plans-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50%;
  background-color: aqua;
  height: 600px;
}

.plan {
  width: 30%;
  margin-top: 5%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.plans-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.plan {
  width: 30%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}


.plan:hover {
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.3);
  color: #17b41a;
}


.plan-content {
  padding: 20px;
  background-color: #fff;
}

.plan h3 {
  margin-top: 0;
}

.plan p {
  font-size: 1.2em;
  font-weight: bold;
}

.plan ul {
  list-style-type: none;
  padding: 0;
}

.plan ul li {
  margin-bottom: 10px;
}

.plan button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.plan button:hover {
  background-color: #0056b3;
}

.plan-content {
  padding: 20px;
  background-color: #fff;
}

.plan h3 {
  margin-top: 0;
}

.plan p {
  font-size: 1.2em;
  font-weight: bold;
}

.plan ul {
  list-style-type: none;
  padding: 0;
}

.plan ul li {
  margin-bottom: 10px;
}

.plan button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.plan button:hover {
  background-color: #0056b3;
}
