.exercise-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .exercise-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .exercise-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .exercise-title {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .exercise-content {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
  }
  