.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px; /* Adjust as needed */
}

.image-container-about {
  flex: 1;
}

.about-content {
  flex: 1;
}

.about-image {
  max-width: 60%;
  height: auto;
  margin-left: 15%;
  margin-top: 5%;
}

  
  .about-content {
    text-align: center;
    padding: 20px;
    color: black;

  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
