   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e83b6;
  }
  
  .login-form {
    width: 350px;
    padding: 20px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: -15px;
  }
  